

.editor-pane {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;   
}

.editor-pane-content {
    background: #b1ccc1;
    width: 300px;
    padding: 20px;
    position: relative;
    height: 100%;
}

.editor-pane-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
}

.editor-pane-open {
    position: fixed;
    top: 50%;
	right: 0;
    width: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-widget-editor {
	opacity: 0.3;
}

[ng-transclude]:hover > .btn-widget-editor {
	opacity: 1;
}

[ct-placeholder] {
	margin: 1px;
	padding: 1px;
	border: 1px dotted #808080;
}

[ct-placeholder] .ct-placeholder-targetplace {
	opacity: 0.5;
}

[ct-placeholder].ct-placeholder-active {
	min-height: 100px;
}
