

.editor-pane {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;   
}

.editor-pane-content {
    background: #b1ccc1;
    width: 300px;
    padding: 20px;
    position: relative;
    height: 100%;
}

.editor-pane-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
}

.editor-pane-open {
    position: fixed;
    top: 50%;
	right: 0;
    width: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}

[ct-placeholder] {
	min-width: 100px;
	min-height: 50px;
}

.placeholder-targetplace {
	background-color: #F0F0C0;
	border: 1px solid red;
}

[ct-placeholder].placeholder-active {
	border: 1px solid #E0E080;
}
