<div class="editor-pane" >
     
    <div ng-show="opened" class="editor-pane-content">
        <a class="editor-pane-close close" ng-href="" ng-click="opened = false">×</a>

        <label>Placeholder</label>
        <select ng-model="placeholder" ng-options="key as key for (key, value) in page.placeholders">
            <option value="">(blank)</option>
        </select>

        <label>Widgets</label>
        <select ng-model="widget" ng-options="value for value in widgets">
            <option value="">(blank)</option>
        </select>
        
        <label>Templates</label>
        <select ng-disabled="!widget" ng-model="template" ng-options="value for value in templates">
            <option value="">(blank)</option>
        </select>

        <br />

        <button ng-disabled="!canAdd()" class="btn" type="submit" ng-click="addWidget()"><i class="icon-plus"></i>Add module</button>

        <br />
        <button class="btn" type="submit" ng-click="save()"><i class="icon-thumbs-up"></i>Save</button>
    </div>    


    <a class="editor-pane-open" ng-click="opened = true" ng-show="!opened"><i class="icon-chevron-right"></i></a>
</div>


