<div class="editor-pane" >
     
    <div ng-show="opened" class="editor-pane-content">
        <a class="editor-pane-close close" ng-href="" ng-click="opened = false">×</a>

        <label>Placeholder</label>
        <select ng-model="placeholder" ng-options="p as p.name for p in placeholders">
            <option value="">(blank)</option>
        </select>

        <label>Widgets</label>
        <select ng-model="widgetType" ng-options="value for value in widgetTypes">
            <option value="">(blank)</option>
        </select>
        
        <br />

        <button ng-disabled="!canAdd()" class="btn" type="submit" ng-click="addWidget()"><i class="icon-plus"></i>Add module</button>
        <button class="btn btn-save" type="submit" ng-click="save()"><i class="icon-thumbs-up"></i>Save</button>
    </div>    

    <a class="editor-pane-open" ng-click="opened = !opened"><i class="{{opened && 'icon-chevron-right' || 'icon-chevron-left'}}"></i></a>
</div>


