<div>
    <ct-require-css href="/content/styles/less/main.layout.less"></ct-require-css>
    <ct-require-css href="/content/styles/ui-lightness/jquery-ui-1.10.1.custom.min.css"></ct-require-css>
    

    <div class="container">
        <ul ct-placeholder class="droppable" widgets="settings.top"></ul>
        <div class="row">
            <div class="span2">
                <ul ct-placeholder class="droppable" widgets="settings.left"></ul>
            </div>
            <div class="span10">       
                <div class="pane">
                    <ul ct-placeholder class="droppable" widgets="settings.content"></ul>
                    <br />
                    <button class="btn" type="button" ng-click="changeTitle()"><i class="icon-font"></i> change module title</button>
                    <button class="btn" type="button" ng-click="moveWidget(page.placeholders.content, page.placeholders.left)"><i class="icon-chevron-left"></i> move left</button>
                    <button class="btn" type="button" ng-click="moveWidget(page.placeholders.left, page.placeholders.content)"><i class="icon-chevron-right"></i> move right</button>
                </div>
            </div>
        </div>
    </div>
</div>

