@{
    Layout = null;
}

@model Cement.Web.Controllers.TestController.CementPage

<!DOCTYPE html>

<html ng-app="Cement">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }}</title>
        <script type="text/javascript" src="@Url.Content("~/Scripts/require.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cement/require.config.js")"></script>
        <script type="text/javascript">
            require(['angular', 'cement/app'], function (angular, app) {
                console.log('staring...');
                angular.module('Cement').constant('TemplateUrl', '@Model.PageTemplate');
                angular.bootstrap(window.document, ['Cement']);
            }, function(error) {
                console.log('error', error);
            });
        </script>
    </head>
    <body ng-controller="cement/controllers/BodyController">
        <div>
            <a href="/Home">Home</a> |
            <a href="/About">About</a> |

            <ng-view></ng-view>
        </div>
    </body>
</html>
