<div class="editor-pane" >
     
    <div ng-show="opened" class="editor-pane-content">
        <a class="editor-pane-close close" ng-href="" ng-click="opened = false">×</a>

        <label>Placeholder</label>
        <select ng-model="placeholder" ng-options="key as key for (key, value) in page.widgets">
            <option value="">(blank)</option>
        </select>

        <label>Title</label>
        <input ng-model="widgetTitle" type="text"></input>

        <label>Content</label>
        <input ng-model="widgetContent" type="text"></input>

        <br />

        <button class="btn" type="submit" ng-click="addModule(placeholder, {title: widgetTitle, content: widgetContent})"><i class="icon-plus"></i>Add module</button>
    </div>    


    <a class="editor-pane-open" ng-click="opened = true" ng-show="!opened"><i class="icon-chevron-right"></i></a>

</div>


