<div class="widget-login" >
     
    <ct-dialog ng-show="opened" class="widget-login-content">
        <a class="editor-pane-close close" ng-href="" ng-click="opened = false">×</a>

        <label>login</label>
        <input type="text" ng-model="login" />

        <label>password</label>
        <input type="text" ng-model="password" />

        <ct-dialog-button class="btn" type="submit" ng-click="addWidget()"><i class="icon-plus"></i>Add module</ct-dialog-button>
    </ct-dialog>

    <button class="widget-login-open" ng-click="open()" ng-show="!opened"><i class="icon-chevron-right"></i></button>
</div>
