
<div style="width: 700px; margin: 0 auto;">
    
    <a href="/Home">Home</a> |
    <a href="/About">About</a> |

    <placeholder module="page.placeholder" ></placeholder>
    <placeholder module="page.placeholder2"></placeholder>
    <a ng-click="changeTitle()">change module title</a>
</div>