<require-css href="@Url.Content("~/content/bootstrap.css")"></require-css>
<require-css href="@Url.Content("~/content/css/main.layout.css")"></require-css>

<div class="container">
    <div class="row">
        <div class="span12">       
            <ul class="nav nav-pills">
                <li ng-class="navClass('home')">
                    <a href="/Home">Home</a>
                </li>
                <li ng-class="navClass('about')">
                    <a href="/About">About</a>
                </li>
            </ul>
            <div class="pane">
                <placeholder module="page.placeholder" ></placeholder>
                <placeholder module="page.placeholder2"></placeholder>
                <button class="btn" type="button" ng-click="changeTitle()"><i class="icon-font"></i> change module title</button>
            </div>
        </div>
    </div>
</div>