<require-css href="@Url.Content("~/content/bootstrap.css")"></require-css>
<require-css href="@Url.Content("~/content/css/main.layout.css")"></require-css>

<div class="container">
    <placeholder name="top"></placeholder>
    <div class="row">
        <div class="span2">
            <placeholder name="left"></placeholder>
        </div>
        <div class="span10">       
            <div class="pane">
                <placeholder name="content"></placeholder>
                <button class="btn" type="button" ng-click="changeTitle()"><i class="icon-font"></i> change module title</button>
                <button class="btn" type="button" ng-click="moveModule(page.placeholders.content, page.placeholders.left)"><i class="icon-chevron-left"></i> move left</button>
                <button class="btn" type="button" ng-click="moveModule(page.placeholders.left, page.placeholders.content)"><i class="icon-chevron-right"></i> move right</button>
            </div>
        </div>
    </div>
</div>